* {
  background-color: bisque;
  justify-content: space-between;
  /* float: none; */
}
/*

img{
    width: 25%;
    height: 25%;    
    padding-left: 70%;
    overflow-clip-margin: content-box;
    overflow: clip;
    display: block;
}
#totalBill{
    border: 2px solid #bbb;
    font-size: medium;
    font-style: initial;
    position: absolute;
    text-align: 70%;
    left: 75%;
    bottom: 40%;
    width: 20%;
}
span{
    

} */
body {
  font-family: Arial, sans-serif;
  /* margin: 20px; */
  /* display: flex; */
  justify-content: space-between;
  /* align-items: flex-start; */
}
h1 {
  color: rgb(108, 0, 0);
  text-align: center;
  margin-top: 60px;
}
/* form {
  flex: 1; 
   max-width: 400px;   Adjust the maximum width of the form as needed 
} */
.part {
  display: inline-block;
  /* border: 4px solid blueviolet ; */
  justify-content: space-between;
  width: 536px;
  height: 100%;
  margin: 8px 60px;
}
/* .pic{
  display: inline-block;
  border: 4px solid blueviolet ;
  justify-content: space-between;
  width: 100%; 
  height : 100%;
  margin: 5px;
} */
img {
  /* display: inline-block; */
  /* border: 6px solid rgb(175, 40, 40); */
  width: 25%;
  height: 30%;
  /* margin: auto; */
  /* margin-top: 10px; */
  /* margin-left: 70%; */
}
#pic {
  position: relative;
  top: -26px;
  left: 70%;
}
#bill {
  /* border: 4px solid blueviolet; */
  width: 24%;
  position: relative;
  top: -17px;
  left: 65%;
}
#handSide {
  /* border: 4px solid blueviolet; */
  width: 45%;
  position: relative;
  top: -465px;
}
#msg {
  /* border: 4px solid blueviolet; */
  width: 45%;
  position: relative;
  top: -465px;
}
#btn {
  width: 45%;
  /* border: 4px solid blueviolet; */
  position: relative;
  top: -465px;
}
/* #totalBill{
  justify-content: space-between;
  margin-left: 70%; 
  width: 50%;
  margin: auto;

  width: 80%;
  padding: 6px 200px;
} */

textarea {
  /* align-items: first baseline; */
  width: 350px;
}

input[type="submit"] {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #45a049;
}
